{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'output.css' %} type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c85fd2f27.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% comment %} <script type="module" src={% static "acquisitions.js" %}></script> {% endcomment %}
    <title>SpendWise Dashboard</title>
</head>

<body class="font-Poppins">
    
</body>

</html>