.code {
    font-size: xx-large;
    font-weight: 900;
    color: blue;

}

.section {
    min-height: 15vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
}

.spender {
    margin: 1rem 0;
}

.menu {
    border: solid 1px blue;
    border-radius: 8px;
    padding: 16px 16px;
    background-color: blue;
    color: white;
}

.bold {
    font-size: 40px;
    font-weight: 600;
    color: blue;
}

.spend {
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    margin: 4rem 4rem;
}

.wise {
    margin-bottom: 16px;
}

img {
    height: 40px;
    width: 40px;
}

.city {
    display: flex;
    margin: 2rem 0;
}

.section_head {
    font-size: 20px;
    font-weight: 900;
}

.go {
    margin: 0 2rem;
}

.testimony {
    border: solid 3px blue;
    padding: 60px 10px;
    background-color: blue;
    border-radius: 8px;
    margin: 0 20rem;
    color: white;
    text-align: center;
}

.heading {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.text {
    margin: 0 4rem;
}

.free {
    display: flex;
    flex-direction: column;
}

.picture img {
    height: 500px;
    width: 1200px;
}

.five {
    font-size: 28px;
    font-weight: 500;
}

@media all and (max-width: 750px) {
    .spend {
        padding: 0 0rem;
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .picture {
        margin-top: 1rem;
    }

    .bold {
        font-size: 24px;
    }

    .testimony {
        border: solid 3px blue;
        padding: 40px 16px;
        background-color: blue;
        border-radius: 8px;
        margin: 0 1rem;
        color: white;
        text-align: center
    }

    .testimony h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .testimony p {
        margin: 0 1rem;
    }
}