{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "output.css" %}' type="text/css" rel="stylesheet">
    <link href='{% static "home.css" %}' type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c85fd2f27.js" crossorigin="anonymous"></script>
    <title>SpendWise</title>

</head>

<body class="font-Poppins">
    <header
        class="sticky top-0 z-50 flex items-center justify-between p-4 lg:px-6 lg:py-4 bg-gradient-to-r from-indigo-700 to-indigo-600 text-white shadow-md">

        <div class="block logo lg:mx-4">
            <h1 class="text-2xl font-bold tracking-tight">
                <span class="text-white">Spend</span><span class="text-emerald-300">Wise</span>
            </h1>
        </div>

        <div class="hidden lg:flex space-x-4 logo lg:mx-4">
            <h1 class="text-sm tracking-tight">
                <span class="text-white">How It Works</span>
            </h1>
            <h1 class="text-sm tracking-tight">
                <span class="text-white">What You Get</span>
            </h1>
            <h1 class="text-sm tracking-tight">
                <span class="text-white">The SpendWise Way</span>
            </h1>
        </div>

        <div class="hidden lg:flex items-center space-x-2">
            <a href="/login">
                <button id="add-transaction-btn"
                    class="flex items-center space-x-2 bg-white/10 hover:bg-white/20 px-3 lg:px-4 py-2 rounded-full transition-all duration-200 group">
                    <span class="text-sm hidden md:inline-block">Login</span>
                </button>
            </a>
            <a href="/register">
                <button id="add-transaction-btn"
                    class="flex items-center space-x-2 bg-white/10 hover:bg-white/20 px-3 lg:px-4 py-2 rounded-full transition-all duration-200 group">
                    <span class="text-sm hidden md:inline-block">Sign Up</span>
                </button>
            </a>
        </div>

        <button id="hamburger" class="lg:hidden">

            <svg id="hamburger-icon" class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>

            <svg id="close-icon" class="w-6 h-6 text-white hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </header>

    <div id="mobile-menu"
        class="lg:hidden fixed top-0 right-0 h-full w-72 bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out flex flex-col">
        <div class="flex-grow flex flex-col justify-center">
            <ul class="space-y-6 p-4 px-6 text-gray-700">
                <a href="/dashboard"
                    class="block px-4 py-2 rounded-lg {% if current_path == '/dashboard/' %}bg-indigo-50 text-indigo-600 font-medium{% else %}hover:bg-gray-50 text-gray-700{% endif %}">
                    <i class="fa-solid fa-home mr-2"></i> Home
                </a>
                <a href="/settings"
                    class="block px-4 py-2 rounded-lg {% if current_path == '/settings/' %}bg-indigo-50 text-indigo-600 font-medium{% else %}hover:bg-gray-50 text-gray-700{% endif %}">
                    <i class="fa-solid fa-user mr-2"></i> Profile
                </a>
                <a href="/notifications"
                    class="block px-4 py-2 rounded-lg {% if current_path == '/notifications/' %}bg-indigo-50 text-indigo-600 font-medium{% else %}hover:bg-gray-50 text-gray-700{% endif %}">
                    <i class="fa-solid fa-bell mr-2"></i> Notifications
                </a>
                <a href="/create/category"
                    class="block px-4 py-2 rounded-lg {% if current_path == '/create/category/' %}bg-indigo-50 text-indigo-600 font-medium{% else %}hover:bg-gray-50 text-gray-700{% endif %}">
                    <i class="fa-solid fa-plus mr-2"></i> Create Category
                </a>
                <a href="/create/"
                    class="block px-4 py-2 rounded-lg {% if current_path == '/create/' %}bg-indigo-50 text-indigo-600 font-medium{% else %}hover:bg-gray-50 text-gray-700{% endif %}">
                    <i class="fa-solid fa-money-bill-wave mr-2"></i> Create Transaction
                </a>
                <a href="/logout/" class="block px-4 py-2 rounded-lg bg-red-100 text-red-700">
                    <i class="fa-solid fa-right-from-bracket mr-2"></i> Logout
                </a>
            </ul>
        </div>
    </div>

    <section class="section">
        <h1 class="code">Budget with a why</h1>
        <p class="spender">Spend, save, and give toward what's important in life</p>
        <a href="{% url 'dashboard' %}" class=" cursor-pointer"><button class="menu">Manage my expenses</button></a>
    </section>
    <section class="spend">
            <div>
                <div class="wise">
                    <h2 class="bold">Why SPENDWISE Works</h2>
                    <h3>92% of SPENDWISEers fool less money stress starting. You're next.</h3>
                </div>
                <div class="city">
                    <img src="{% static "lappy.jpeg" %}" alt="">
                    <div class="go">
                        <h4 class="section_head">Learn our secret sauce</h4>
                        <p>Our method has only one ingredient. Give every dollar a job. We'll teach you</p>
                    </div>
                </div>
                <div class="city">
                    <img src="{% static "map.jpg" %}" alt="">
                    <div class="go">
                        <h4 class="section_head">Fund your wildest dreams...and your water bill</h4>
                        <p>Use the app to define priorities and guide spending decisians towward the life you wwant</p>
                    </div>
                </div>
                <div class="city">
                    <img src="{% static "kite.svg" %}" alt="">
                    <div class="go">
                        <h4 class="section_head">Live spendfully</h4>
                        <p>Improve relationships, sleep better at night, and achieve your goals through intentional spending</p>
                    </div>
                </div>
                <a href="{% url 'dashboard' %}" class=" cursor-pointer"><button class="menu">Manage your expenses now</button></a>
            </div>
            <div class="picture">
                <img src="{% static "picture.jpg" %}" alt="">
            </div>
    </section>
    <div class="testimony">
        <h1 class="heading">We don't like to brag... so we let others do it for us.</h1>
        <p class="text">From social media mentions to coverage on major outlets, we get a lot of (good) attention. And we love that for us.</p>
        <div class="lg:flex space-y-4 lg:space-y-0 lg:space-x-4 logo lg:mx-4 mt-8 justify-center">
            <h1 class="text-sm tracking-tight five">
                <span class="text-white">FORBES</span>
            </h1>
            <h1 class="text-sm tracking-tight five">
                <span class="text-white">The NEW YORK TIMES</span>
            </h1>                           
            <h1 class="text-sm tracking-tight five">
                <span class="text-white">WSJ</span>
            </h1>
            <h1 class="text-sm tracking-tight five">
                <span class="text-white">WIRED</span>
            </h1>
            <h1 class="text-sm tracking-tight five">
                <span class="text-white">REAL SIMPLE</span>
            </h1>
        </div>
    </div>
    <script>
        document.getElementById('hamburger').addEventListener('click', function() {
            const mobileMenu = document.getElementById('mobile-menu');
            const hamburgerIcon = document.getElementById('hamburger-icon');
            const closeIcon = document.getElementById('close-icon');
            
            mobileMenu.classList.toggle('translate-x-full');
            mobileMenu.classList.toggle('translate-x-0');
            document.body.classList.toggle('overflow-hidden');
            
            hamburgerIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>
</html>