<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hussein</title>
</head>
<body>
    <h1>I'm Fashina Hussein.</h1>
    <h3>I'm a software engineer</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque iste illum ab dolorem ipsam fugit, officia itaque vitae consequuntur eos?</p>
    <button>Cashout</button>
    <a href="https://umasordavid.com">Take me to Dave's site</a>
</body>
</html>